.app {
  display:grid ;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background:
    url("https://morguefile.nyc3.cdn.digitaloceanspaces.com/imageData/public/files/h/HelloBob/09/l/1441554665ovgiz.jpg");
  background-size: cover;
  background-position: center;
}

form{
    background-color: white;
    padding: 0px 120px;
    border-radius: 50px;
}

h2{
    color: rgb(26, 83, 124);
    text-align: center;
}

button{
    width: 70%;
    height: 40px;
    padding: 10px;
    border: none;
    background-color: rgb(26, 83, 124);
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin: 11px;
    margin-bottom: 30px;
}

.button-container {
  display: flex;
  margin: 10px;
}